body {
    background-image: url("/img/bg.jpeg") !important;
    font-family: 'Poppins', sans-serif;
}

/*form {*/
/*    background-color: #8AD879;*/
/*}*/

/*section {*/
/*    background-color: #8AD879 !important;*/
/*}*/

/*.container {*/
/*    background-color: #FAF9F6 !important;*/
/*}*/

/*.texas {*/
/*    color: #FAF9F6 !important;*/
/*}*/

/*#row {*/
/*    background-color: #FAF9F6;*/
/*}*/

